services:
  mongo_database:
    image: mongo:noble
    container_name: local-mongodb
    restart: always
    ports: 
      - 27017:27017
    volumes: 
      - mongo_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example

  backend:
    build: ./backend
    container_name: backend-server
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env

  frontend:
    build: ./frontend
    container_name: frontend-app
    restart: always
    ports:
      - "5173:5173"
    
volumes:
  mongo_data: